//_colours.scss

// FSA primary
$dark-green:	#006F51;
$mid-green:		#6CB33F;
$light-green:	#A9C47F;
$black:			#000000;
$dark-grey:		#53565A;
$mid-grey:		#97999B;
$light-grey:	#D9D9D6;
$white:			#FFFFFF;

// FSA secondary
$mid-red:		#E31837;
$orange:		#F15D22;
$mid-yellow:	#FDB913;
$mid-purple:	#49176D;
$light-purple:	#9F218B;
$mid-blue:		#007FB2;

// FSA tertiary
$dark-red:		#B04A5A;
$light-red:		#EF3340;
$light-yellow:	#F1C400;
$teal:			#00B2A9;
$dark-purple:	#51284F;
$light-blue:	#8DC8E8;

//Font colours
$light-text:    $white;
$dark-text:     $dark-grey;

//Colour types
$primary:       $dark-green;
$secondary:     $light-grey;
//$tertiary:      ;
$active:        $dark-grey;
$disabled:      $light-grey;
$census:		$mid-purple;
$error:         $mid-red;

$colours: (
		//name          	//primary 		//secondary			//tertiary
		("dark-green",		$dark-green, 	$light-text,		$light-text)
		("mid-green",   	$mid-green,     $dark-text,			$dark-text)
        ("light-green", 	$light-green, 	$dark-text,			$dark-text)
		("black", 		    $black, 	    $light-text,		$light-text)
		("dark-grey", 	    $dark-grey,     $light-text,		$light-text)
		("mid-grey", 		$mid-grey, 		$dark-text,			$dark-text)
		("light-grey",      $light-grey, 	$dark-text, 		$dark-text)
		("white", 	        $white, 	    $dark-text, 		$dark-text)
		("mid-red",		    $mid-red, 		$dark-text,			$dark-text)
		("orange", 	        $orange, 		$dark-text,			$dark-text)
		("mid-yellow", 	    $mid-yellow, 	$dark-text,			$dark-text)
		("mid-purple", 	    $mid-purple,	$light-text,		$light-text)
		("light-purple", 	$light-purple, 	$dark-text,			$dark-text)
		("mid-blue",		$mid-blue, 		$dark-text,			$dark-text)
		("dark-red", 	    $dark-red, 		$dark-text)
		("light-red",		$light-red, 	$dark-text)
		("light-yellow", 	$light-yellow, 	$dark-text)
		("teal", 		    $teal, 		    $dark-text)
		("light-blue", 	    $light-blue, 	$dark-text)
        ("dark-purple",     $dark-purple,   $light-text)
);



@function colour($key) {
  @if map-has-key($colours, $key) {
    @return map-get($colours, $key);
  }

  @warn "Unknown `#{$key}` in $colours.";
  @return null;
}