//$font-sizes: (
//    14: 14px,
//    16: 16px,
//    17: 17px,
//    21: 21px,
//    24: 24px,
//    35: 35px
//);
//
//@function font-size($key) {
//    @if map_has_key($font-sizes, $key) {
//        @return map_get($font-sizes, $key)
//    }
//    @warn "Unknown `#{$key}` in $font-sizes.";
//    @return null;
//}
//
//@mixin font-size-util {
//    .font-size {
//        @each $font-size, $font-size-px in $font-sizes {
//            &--#{$font-size} {
//                font-size: $font-size-px;
//            }
//        }
//    }
//}
//
//@include font-size-util;

$base-font-weight-bold: 700;

.font-size {
  &--0 {
    font-size: 0 !important;
  }
  &--h6 {
    font-size: 14px !important;
    font-weight: $base-font-weight-bold;
  }
  &--h5 {
    font-size: 16px !important;
    font-weight: $base-font-weight-bold;
  }
  &--h4 {
    font-size: 18px !important;
    font-weight: $base-font-weight-bold;
    line-height: 24px;
  }
  &--h3 {
    font-size: 21px !important;
    font-weight: $base-font-weight-bold;
    line-height: 24px;
  }
  &--h2 {
    font-size: 42px !important;
    font-weight: $base-font-weight-bold;
    line-height: 48px;
  }
  &--h1 {
    font-size: 60px !important;
    font-weight: $base-font-weight-bold;
    line-height: 68px;
  }
}