//_font-size.scss

//--[vars]--
$base-font-family: "Roboto", Arial, sans-serif;
$title-font-family: "oscine", sans-serif;
$base-font-size: 18px;
$base-line-height: $baseline * 3;
$base-font-weight: 400;
$base-text-colour: $text;

$base-font-weight-bold: 700;
$base-font-weight-regular: 300;
$base-font-weight-thin: 100;

.font-size {
  &--0 {
    font-size: 0 !important;
  }
  &--h6 {
    font-size: 18px !important;
    font-weight: $base-font-weight-bold;
  }
  &--h5 {
    font-size: 21px !important;
    font-weight: $base-font-weight-bold;
  }
  &--h4 {
    font-size: 24px !important;
    font-weight: $base-font-weight-bold;
    line-height: 24px;
  }
  &--h3 {
    font-size: 28px !important;
    font-weight: $base-font-weight-bold;
    line-height: 28px;
  }
  &--h2 {
    font-size: 36px !important;
    font-weight: $base-font-weight-bold;
    line-height: 36px;
  }
  &--h1 {
    font-size: 48px !important;
    font-weight: $base-font-weight-bold;
    line-height: 48px;
  }
  &--standout {
    font-size: 28px !important;
    font-weight: $base-font-weight-regular;
    line-height: 32px;
  }
  &--quote {
    font-size: 48px !important;
    font-weight: $base-font-weight-thin;
    font-style: italic;
    line-height: 56px;
  }
  &--small {
    font-size: 16px !important;
    font-weight: $base-font-weight-regular;
    line-height: 24px;
  }
  &--small-bold {
    font-size: 16px !important;
    font-weight: $base-font-weight-bold;
    line-height: 24px;
  }
}