$png: '../../img/fsa-sprite.png';

.icon {
  background-image: url($png);
  background-repeat: no-repeat;
  display: inline-block;

  &-linkedin {
    &--black {
      background-position: -17px -87px;
      width: 31px;
      height: 31px;
    }
    &--black-small {
      background-position: -16px -12px;
      width: 16px;
      height: 16px;
    }
    &--white {
      background-position: -17px -146px;
      width: 31px;
      height: 31px;
    }
    &--white-small {
      background-position: -16px -41px;
      width: 16px;
      height: 16px;
    }
  }

  &-google {
    &--black {
      background-position: -99px -87px;
      width: 30px;
      height: 31px;
    }
    &--white {
      background-position: -17px -146px;
      width: 31px;
      height: 31px;
    }
    &--black-small {
      background-position: -56px -12px;
      width: 16px;
      height: 16px;
    }
    &--white-small {
      background-position: -56px -41px;
      width: 16px;
      height: 16px;
    }
  }

  &-twitter {
    &--black {
      background-position: -180px -87px;
      width: 38px;
      height: 31px;
    }
    &--white {
      background-position: -180px -146px;
      width: 38px;
      height: 31px;
    }
    &--black-small {
      background-position: -96px -12px;
      width: 20px;
      height: 16px;
    }
    &--white-small {
      background-position: -96px -41px;
      width: 20px;
      height: 16px;
    }
  }

  &-facebook {
    &--black {
      background-position: -268px -87px;
      width: 17px;
      height: 31px;
    }
    &--white {
      background-position: -268px -146px;
      width: 17px;
      height: 31px;
    }
    &--black-small {
      background-position: -140px -12px;
      width: 9px;
      height: 16px;
    }
    &--white-small {
      background-position: -140px -41px;
      width: 9px;
      height: 16px;
    }
  }

  &-share {
    &--black {
      background-position: -336px -87px;
      width: 27px;
      height: 31px;
    }
    &--white {
      background-position: -336px -146px;
      width: 27px;
      height: 31px;
    }
    &--black-small {
      background-position: -173px -12px;
      width: 14px;
      height: 16px;
    }
    &--white-small {
      background-position: -173px -41px;
      width: 14px;
      height: 16px;
    }
  }

  &-home {
    &--black {
      background-position: -399px -77px;
      width: 50px;
      height: 42px;
    }
    &--white {
      background-position: -399px -136px;
      width: 50px;
      height: 42px;
    }
    &--black-small {
      background-position: -204px -7px;
      width: 26px;
      height: 21px;
    }
    &--white-small {
      background-position: -204px -36px;
      width: 26px;
      height: 21px;
    }
  }

  &-pdf {
    &--large {
      background-position: -16px -289px;
      width: 78px;
      height: 89px;
    }
    &--small {
      background-position: -16px -215px;
      width: 40px;
      height: 45px;
    }
  }

  &-doc {
    &--large {
      background-position: -122px -289px;
      width: 78px;
      height: 89px;
    }
    &--small {
      background-position: -69px -215px;
      width: 40px;
      height: 45px;
    }
  }

  &-json {
    &--large {
      background-position: -231px -289px;
      width: 78px;
      height: 89px;
    }
    &--small {
      background-position: -123px -215px;
      width: 40px;
      height: 45px;
    }
  }

  &-xls {
    &--large {
      background-position: -338px -289px;
      width: 78px;
      height: 89px;
    }
    &--small {
      background-position: -177px -215px;
      width: 39px;
      height: 45px;
    }
  }

  &-csv {
    &--large {
      background-position: -446px -289px;
      width: 78px;
      height: 89px;
    }
    &--small {
      background-position: -231px -215px;
      width: 39px;
      height: 45px;
    }
  }

  &-file {
    &--large {
      background-position: -551px -289px;
      width: 78px;
      height: 89px;
    }
    &--small {
      background-position: -283px -215px;
      width: 40px;
      height: 45px;
    }
  }

  &-separator {
    &--large {
      font-size:40px;
      font-weight: 100;
      padding: 0 8px;
    }
    &--small {
      font-size:20px;
      font-weight: 100;
      padding: 0 5px;
    }
  }

  &--hide:after {
    //For use in situations where icons are automatically added but not wanted and a global solution isn't viable
    display: none !important;
  }

}

//Add external link icon (:not excludes domains)
a[target=_blank]:after {
  @extend .icon;
  @extend .icon-share--black-small;
  content: "";
  margin-left: 8px;
}
