//height
@mixin width-util {
    .width {
        @for $i from 0 through 15 { //
            &--#{$i} {
                width: (($col + $gutter) * $i) !important;
            }
            @include breakpoint(lg) {
                &-lg--#{$i} {
                    width: (($col + $gutter) * $i) !important;
                }
            }
            @include breakpoint(md) {
                &-md--#{$i} {
                    width: (($col + $gutter) * $i) !important;
                }
            }
            @include breakpoint(sm) {
                &-sm--#{$i} {
                    width: (($col + $gutter) * $i) !important;
                }
            }
        }
    }
}
@include width-util;