//_accordions.scss

.accordion--header {
  background-color: $very-light-grey;
  padding: 8px 4px;
  margin-bottom: 12px;
  border-bottom: 1px solid $mid-grey;

  & h5 {
    margin: 0;
  }
}

.accordion--body {
  padding-bottom: 12px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}