//_accordions.scss

.accordion--header {
  background-color: #F2F2F2;
  padding: 8px 4px;
  margin-bottom: 12px;
  border-bottom: 1px solid #97999B;

  & h5 {
    margin: 0;
  }
}

.accordion--body {
  padding-bottom: 12px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}