//_alert.scss

.alert {
  background-color: $dark-red;
  color: $white;
  padding-left: 20px;
  margin: 20px 0;

  & h5 {
    padding: 16px 0 8px 0;
    margin: 0;
  }

  & p {
    padding: 0;
    margin: 0;
  }

  & a {
    color: $white;
    font-weight: 400;
    border-bottom: 1px dotted $white;
  }
}
