//_footer-tile.scss

.footer-tile {
  margin-bottom: 8px;

  > h5 {
    color: $orange;
  }

  > ul {
    padding-left: 0;
  }
}

.footer-tile:before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  border-right: 2px dotted #53565A;
}

.footer-tile:last-of-type:before {
  content: "";
  border-right: 0;
}

.footer-no-style__list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li + li:before {
    content: " | ";
    font-weight: 100;
    padding: 0 2px;
    color: $orange-accessible;
  }
}

.footer-no-style__list li {
  display: inline;
  margin: 0;
  padding: 0;
}