//_footer-tile.scss

.footer-tile {
  height: 580px;
  margin-bottom: 8px;

  > h5 {
    color: $orange;
  }

  > ul {
    padding-left: 0;
  }
}

.footer-tile:before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  border-right: 2px dotted #53565A;
}

.footer-tile:last-of-type:before {
  content: "";
  border-right: 0;
}