//_home-tile.scss

.home-campaign-tile {
  h1 a {
    color: $dark-grey;
  }

  h2 {
    margin-top: 16px;
  }

  @include breakpoint(xs) {
    position: relative;
    overflow: visible;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: $light-grey;
      position: absolute;
      bottom: 0;
    }
  }
  &--img-first {
    position: relative;
    overflow: visible;

    footer {
      position: absolute;
      height: 40px;
      overflow: hidden;
      bottom: 0;
    }

    img {
      margin-bottom: 16px;
    }

    @include breakpoint(xs) {
      article {
        width: 50%;
        margin-left: 50%;

        img {
          width: 90%;
          margin-left: -100%;
          float: left;
        }
      }
    }
  }
}

.home-news-tile {
  h1 a {
    color: $dark-grey;
  }

  p {
    margin: 14px 0;
  }

  @include breakpoint(xs) {
    position: relative;
    overflow: visible;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: $light-grey;
      position: absolute;
      bottom: 0;
    }
  }
  &--img-first {
    position: relative;
    overflow: visible;

    footer {
      position: absolute;
      height: 40px;
      overflow: hidden;
      bottom: 0;
    }

    img {
      margin-bottom: 16px;
    }

    @include breakpoint(xs) {
      article {
        width: 50%;
        margin-left: 50%;

        img {
          width: 90%;
          margin-left: -100%;
          float: left;
        }
      }
    }
  }
}

.separator-right-solid {

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 2px solid $light-grey;
  }

  @include breakpoint(xs) {
    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: $light-grey;
      top: inherit;
    }
  }
}

.separator-left-solid {

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid $light-grey;
  }

  @include breakpoint(xs) {
    &:before {
      content: "";
      height: 1px;
      background: $light-grey;
      position: absolute;
      bottom: -14px;
    }
  }
}

.separator-dotted {
  border: 4px dotted $mid-grey;
  border-image-source: url('../../img/dots.svg');
  border-image-slice: 25% 25%;
  border-image-repeat: round;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 20px 0;
}

.pdf-separator-dotted {
  border: 7px dotted $mid-grey;
  border-image-source: url('../../img/dots.svg');
  border-image-slice: 25% 25%;
  border-image-repeat: round;
  border-left: 0;
  border-right: 0;
  margin: 0 0 8px 8px;
  padding: 16px 0;

  &:before {
    content: '';
    padding-left: 55px;
    margin: 0;
    height: 50px;
    background-image: url("../../img/pdf.png");
    background-repeat: no-repeat;
    background-size: 50px;
    display: inline-block;
  }

  > span {
    display: inline-block;
    width: 63%;
    vertical-align: top;
  }
}

.campaign-separator-dotted {
  border: 12px dotted $dark-purple;
  border-image-source: url('../../img/dots_purple.svg');
  border-image-slice: 37%;
  border-image-repeat: round;
  border-left: 0;
  border-right: 0;
  height: 86%;
  margin: 7%;
  padding-top: 16px;

  @include breakpoint(xs) {
    margin-bottom: 8px;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  float: left; //added for news
}

.jumbotron {
  height: 450px;
  background: url('../../img/fsa-home-main.png') no-repeat;
  position: relative;
  & .col-wrap {
    position: absolute;
    bottom: 0;
  }
  & h2 {
    text-align: center;
    color: #51284F;
  }
  & button {
    color: #FFF;
    margin: 0 32%;
  }
}

.bar--new-site {
  height: 116px;
  background-color: $dark-purple;
  color: $white;

  & .col-wrap {
    margin-top: .5%;
  }

  & span {
    margin-left: -5px;
    display: inline;
  }

  & h2 {
    margin: 0;
    line-height: 30px;
  }

  & p {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
  }

  & a {
    color: $white;
    border-bottom-color: $white;
  }

  & #oldsite {
    margin-top: 1.4%;

    & p {
      margin-top: 1%;
      padding: 10px;
      text-align: center;
      border: 2px solid $white;
    }
  }

  @include breakpoint(xs) {
    height: 100%;

    & .col-wrap {
      margin-bottom: 8px;
    }
  }
}

.regional {
  display: inline-block;
  padding: 8px 12px;
  background-color: #F2F2F2;
  font-size: 16px;
  font-weight: 700;
}

.border-pic--transparent:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1.529412%;
  background: $very-light-grey-transp;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D9F2F2F2', endColorstr='#D9F2F2F2'); /* IE */
}

.border-pic--transparent:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1.529412%;
  background: $very-light-grey-transp;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D9F2F2F2', endColorstr='#D9F2F2F2'); /* IE */
}

.border-white--transparent:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1.529412%;
  left: 0;
}

.big-number {
  font-size: 110px;
  line-height: 120px;
  font-weight: 700;

  @include breakpoint(sm) {
    font-size: 100px;
    line-height: 100px;
  }
}

.styled-ul {
  list-style: none;

  li {
    padding: 0 0 0 16px;
    text-indent: -26px;

    &:before {
      content: "•";
      margin-right: 12px;
      font-size: 44px;
      color: $light-purple;
      vertical-align: bottom;
    }
  }
}

.styled-ol {
  counter-reset: item;

  li {
    display: block;
    text-indent: -10px;
    padding-bottom: 0;


    &:before {
      content: counter(item) ". ";
      font-family: "oscine", sans-serif;
      font-size: 21px;
      counter-increment: item;
      padding-right: 12px;
      margin-left: -20px;
      color: $light-purple;
    }
  }
}