.home-campaign-tile {
  h1 a {
    color: $dark-grey;
  }

  h2 {
    margin-top: 16px;
  }

  @include breakpoint(xs) {
    position: relative;
    overflow: visible;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: $light-grey;
      position: absolute;
      bottom: 0;
    }
  }
  &--img-first {
    @include breakpoint(lg) {
      height: 308px;
      padding-bottom: 40px;
      position: relative;
      overflow: visible;

      footer {
        position: absolute;
        height: 40px;
        overflow: hidden;
        bottom: 0;
      }

      img {
        margin-bottom: 16px;
      }
    }

    @include breakpoint(xs) {
      article {
        width: 50%;
        margin-left: 50%;

        img {
          width: 90%;
          margin-left: -100%;
          // margin-right: 5%;
          float: left;
        }
      }
    }
  }
}

.home-news-tile {
  h1 a {
    color: $dark-grey;
  }

  p {
    margin: 14px 0;
  }

  @include breakpoint(xs) {
    position: relative;
    overflow: visible;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: $light-grey;
      position: absolute;
      bottom: 0;
    }
  }
  &--img-first {
    @include breakpoint(lg) {
      height: 330px;
      padding-bottom: 40px;
      position: relative;
      overflow: visible;


      footer {
        position: absolute;
        height: 40px;
        overflow: hidden;
        bottom: 0;
      }
    }
    @include breakpoint(xs) {
      article {
        width: 50%;
        margin-left: 50%;

        img {
          width: 90%;
          margin-left: -100%;
          // margin-right: 5%;
          float: left;
        }
      }
    }
  }
}

.separator-right-solid {

  @include breakpoint(lg) {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      right: 0;
      border-right: 2px solid $light-grey;
    }

    &:last-of-type:before {
      content: "";
      border-right: 0;
    }
  }

  @include breakpoint(xs) {
    &:before {
      content: "";
      height: 1px;
      background: $light-grey;
      position: absolute;
      bottom: -14px;
    }
  }
}

.separator-dotted {
  border: 4px dotted #97999B;
  border-image-source: url('../../img/dots.svg');
  border-image-slice: 25% 25%;
  border-image-repeat: round;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 20px 0;
}

.pdf-separator-dotted {
  border: 7px dotted #97999B;
  border-image-source: url('../../img/dots.svg');
  border-image-slice: 30%;
  border-image-repeat: round;
  border-left: 0;
  border-right: 0;
  height: 86%;
  margin: 0 0 0 20px;
  padding-top: 16px;
}

blockquote.style-pdf {
  padding-left: 70px;
  margin: 0;
  height: 104px;
  background-image: url('../../img/pdf.png');
  background-repeat: no-repeat;
  background-size: 90px;
  text-indent: 30px;
}

blockquote.style-pdf div {
  padding-left: 40px;
  display: block;
}

.img-responsive {
  width: 100%;
  height: auto;
  float: left;  //added for news
}

.jumbotron {
  max-width: 1275px;
  margin: 0 auto;
}