.info-box {

    background-color: $mid-blue;
    color: $white;
    position: relative;

    a {
        color: $white;
        text-decoration: underline;

        &:not(.btn):focus {
            background-color: $white;
            color: $mid-blue;
        }

    }

}