//_news-tile

.news-tile {
  span {
    float: right;
    position: absolute;
    right: 20px;
    bottom: 0;
  }

  @include breakpoint(xs) {
    position: relative;
    overflow: visible;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: $light-grey;
      position: absolute;
      bottom: -20px;
    }
  }
  &--img-first {
    position: relative;
    overflow: visible;

    footer {
      position: absolute;
      height: 44px;
      overflow: hidden;
      bottom: 0;
    }

    img {
      margin-bottom: 16px;
    }

    h5 {
      margin-bottom: 32px;
    }

    @include breakpoint(xs) {
      &:before {
        content: "";
        height: 1px;
        background: $light-grey;
        position: absolute;
        bottom: -14px;
      }

      article {
        width: 50%;
        margin-left: 50%;

        img {
          width: 90%;
          margin-left: -100%;
          float: left;
        }
      }
    }
  }
}

.news-title {
  footer {
    & p {
      margin: 40px 0 0 0;
      padding: 0;
    }
  }

  span {
    margin-bottom: 4px;
  }

}

.horizontal-separator {
  border-bottom: 2px solid #D9D9D6;

  @include breakpoint(xs) {
    border-bottom: 0;
  }
}