//_news-tile

.news-tile {
	&--img-first {
		@include breakpoint(xs) {
			article {
				width: 50%;
				margin-left: 50%;

				img {
					width: 80%;
					margin-left: -100%;
					// margin-right: 5%;
					float: left;
				}
			}
		}
	}
}