//_page-blocks.scss

.home {
  // campaign tiles
  &--campaign {
    background-color: $very-light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $white;
    }
  }

  // news tiles
  &--news {
    background-color: $dark-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $white;
    }
  }
}

// News
.news {
  &--border {
    background-color: $very-light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--background {
    background-color: $white;
  }
}

// Content news
.content {

  background-color: $very-light-grey;

  @include breakpoint(xs) {
    background-color: $white;
  }

  > .col-wrap {
    background-color: $white;
  }

  &--title {
    background-color: $light-purple;

    & h2 {
      color: $black;
    }

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $white;
    }
  }

  &--explanation {
    background-color: $mid-purple;

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $light-grey;
    }

    & p {
      font-size: 28px !important;
      font-weight: $base-font-weight-regular;
      line-height: 32px;
    }
  }

  &--intro {
    background-color: $light-purple;

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $white;

      > .wrapper > .col {
        padding: .6%;
      }
    }
  }


  &--tile-signup {
    background-color: $very-light-grey;
    padding: 12px;

    p {
      font-size: 16px !important;
      font-weight: $base-font-weight-regular;
      line-height: 24px;
      padding: 0;
      margin: 0;
    }

    .bold {
      font-weight: 700;
    }

    .share {
      border-top: 1px solid #97999B;
      border-bottom: 1px solid #97999B;
      margin: 16px 0;
      padding: 16px 0;
    }
  }

  &--quote {
    background-color: $mid-yellow;

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $very-light-grey;
    }

    & p {
      font-size: 48px;
      font-weight: $base-font-weight-thin;
      font-style: italic;
      line-height: 56px;

      &.source {
        font-size: 16px;
        font-family: "Roboto", Arial, sans-serif;
        font-style: normal;
        float: right;
      }
    }
  }

  &--related {
    background-color: $black;

    & h2 {
      color: $black;
    }

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $very-light-grey;
    }
  }

  &--other-related {
    background-color: $dark-grey;

    & h2 {
      color: $black;
    }

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $light-grey;
    }
  }
}

// Footer

.footer {

  background-color: $very-light-grey;

  @include breakpoint(xs) {
    background-color: $white;
  }

  > .col-wrap {
    background-color: $white;
  }

  &--menu {
    background-color: $light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }

    > .col-wrap {
      background-color: $very-light-grey;
    }
  }
}

.sign-and-subscribe {
  background-color: $very-light-grey;
  padding: 16px;
  margin-bottom: 40px;

  & h5 {
    margin: 8px 0;
  }

  & .col {
    padding: 0;
  }

  & input {
    display: inline;
    width: 100%;
    padding: 10px;
    height: 54px;
    margin: 0;
    font-size: 18px;
    border: 0;
  }

  & .btn {
    width: 100%;
  }
}

.key-facts {
  background-color: $mid-yellow;

  @include breakpoint(xs) {
    background-color: $white;
  }

  > .col-wrap {
    background-color: $very-light-grey;
  }

  & p.title {
    text-align: center;
    font-size: 48px;
    font-weight: $base-font-weight-thin;
    font-style: italic;
    line-height: 48px;
  }

  & p.share {
    font-size: 24px;
    font-weight: $base-font-weight-regular;
    line-height: 24px;
  }
}

.search {
  & input {
    display: inline;
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-top: 10%;
    font-size: 18px;
    color: $dark-green;
    border: 1px solid $light-grey;
    border-radius: 20px;
  }
}

.mega-menu {
  display: none;
  width: 100%;
  min-height: 480px;
  padding: 40px 0;
  background: $very-light-grey;
  position: absolute;
  top: 36px;
  margin-bottom: 40px;

  &__popular {
    padding-right: 3.058824%;
    /*border-right: 1px solid #B3B3B3;*/
  }

  &__popular:before {
    content: "";
    position: absolute;
    right: 5.5%;
    background: $light-grey; /*#B3B3B3;*/
    height: 100%;
    width: 1px;
  }

  & h1 {
    margin-top: 0;
  }

  & h2:first-of-type {
    border-top: 0;
    padding-top: 0;
  }

  & h2 {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  & li {
    font-size: 14px;
    line-height: 20px;
  }
}

.primary-nav {
  background-color: $black;
  margin: 0 1.529412%;

  &__list {
    z-index: 10;
  }

  &__link {
    float: left;
    display: block;
    padding: 4px 1.529412%;
    border-bottom: 0;
    height: 36px;
    overflow: hidden;
    font-size: 16px;
  }

  &__link:hover,
  &__link:focus,
  &__item:hover
  &__link {
    border-bottom: 0;
    background: $very-light-grey !important;
    color: $dark-grey !important;
  }

  &__link--fhr {
    float: right;
    background: $dark-green;
  }

  &__item:hover .mega-menu {
    display: block;
    cursor: default;
  }
}

.wrapper--header {
  background: $light-grey;
}

.header {
  padding: 0 0 24px 0;
  background: $very-light-grey;
}

.main-logo {
  padding-top: 16px;
}

.language-nav {
  &__list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: $white;
    float: right;
  }

  &__item {
    float: left;
    padding: 8px 16px;
    margin: 0;
  }
}

.mega-menu {
  &-wrap {
    overflow: visible !important;
    padding: 0 1.529412%;
    position: relative;
    z-index: 10;
  }

  &-active-bg {
    /*content: "";*/
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-grey;
  margin: 0;
  padding: 0;
}

.no-list-style__list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.no-list-style__list li {
  padding-left: 0;
}