// Home

.home {
  // campaign tiles
  &--campaign-border {
    background-color: $very-light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--campaign-background {
    background-color: $white;
  }

  // news tiles
  &--news-border {
    background-color: $dark-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--news-background {
    background-color: $white;
  }
}

// News
.news {
  &--border {
    background-color: $very-light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--background {
    background-color: $white;
  }
}

// Content news
.content {
  &--title-border {
    background-color: $light-purple;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--title-background {
    background-color: $white;
  }

  &--explanation-border {
    background-color: $mid-purple;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--explanation-background {
    background-color: $light-grey;
  }

  &--intro-border {
    background-color: $light-purple;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--intro-background {
    background-color: $white;
  }

  &--content-border {
    background-color: $very-light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--content-background {
    background-color: $white;
  }

  &--quote-border {
    background-color: $mid-yellow;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--quote-background {
    background-color: $very-light-grey;
  }

  &--related-border {
    background-color: $black;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--related-background {
    background-color: $light-grey;
  }

  &--other-related-border {
    background-color: $dark-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--other-related-background {
    background-color: $light-grey;
  }
}

// Footer

.footer {
  &--border {
    background-color: $very-light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--background {
    background-color: $white;
  }

  &--menu-border {
    background-color: $light-grey;

    @include breakpoint(xs) {
      background-color: $white;
    }
  }

  &--menu-background {
    background-color: $very-light-grey;
  }
}
