.affix-top {
  position: static;
  width: 100%;
}

.affix-bottom {
  position: absolute;
}

.affix {
  position: fixed;
  top: 130px;
  border: 1px dotted #D9D9D6;
  width: 16%;

  @include breakpoint(lg) {
  }
}


//.side-bar {
//
//    &__item {
//        margin: 0;
//        margin-bottom: $baseline;
//        padding: $baseline 0;
//        display: block;
//
//        &:hover {
//            cursor: pointer;
//            //background-color: $ship-grey;
//            //color: $white;
//        }
//
//    }
//
//    &__link {
//        display: inline-block;
//        padding: $baseline 0 $baseline $col;
//        //width: 100%
//    }
//
//    &__active {
//        background-color: lighten($mid-blue, 50%);
//        font-weight: 400;
//    }
//}
//
//.viewport-md .affix,
//.viewport-lg .affix {
//    position: fixed;
//    top: 0;
//
//    @include breakpoint(md) {
//        width: ($col * 13);
//    }
//
//    @include breakpoint(lg) {
//        width: ($col * 17);
//    }
//
//    &-bottom {
//        position: absolute;
//
//        @include breakpoint(md) {
//            width: ($col * 13);
//        }
//
//        @include breakpoint(lg) {
//            width: ($col * 17);
//        }
//
//    }
//
//}