@include breakpoint(not-xs) {
  .affix-top {
    position: static;
    width: 100%;
  }

  .affix-bottom {
    position: absolute;
  }

  .affix {
    position: fixed;
    top: 130px;
    border: 1px dotted #D9D9D6;
  }
}
