// slates

.slate {

	&--thunder {
		background-color: $black;
		color: $light-grey;
	}

	&--ship-grey {
		background-color: $dark-grey;
		color: $light-grey;
	}

	&--abbey {
		background-color: $dark-grey;
		color: $light-grey;
	}

	&--silver {
		background-color: $mid-grey;
	}

	&--iron {
		background-color: $mid-grey;
	}

	&--iron-light {
		background-color: $light-grey;
	}

	&--mercury {
		background-color: $light-grey;
	}

	&--gallery {
		background-color: $white;
	}

	&--aluminium {
		background-color: $mid-grey;
	}

	&--alabaster {
		background-color: $white;
	}

}
