//_tags.scss

.tag-wrapper {
  margin: 12px 0;
}

.tag {
  padding: 4px 8px;
  background-color: #F2F2F2;
  margin: 4px 12px 4px 0;
  display: inline-block;

  &:hover {
    border-bottom: 0 solid white;
  }

  & span:hover {
    border-bottom: 1px dotted $orange-accessible;
  }
}
