//_buttons.scss

button {
  cursor: pointer;
}

.btn {
  font-family: $base-font-family;
  font-size: 18px;
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 14px $col 18px $col;
  border: 0 none;
  border-radius: 10px;
  text-align: center;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out;
  text-decoration: none;

  &--primary {
    background-color: $primary;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($primary, 8%);
    }
  }

  &--primary-disabled {
    opacity: 0.7;

    &:hover,
    &:focus {
      background-color: $primary;
      cursor: not-allowed;
    }
  }

  &--action {
    background-color: $dark-purple;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($light-purple, 8%);
    }
  }

  &--support {
    background-color: $white;
    color: $dark-purple;
    font-size: 28px;
    font-weight: 700;

    &:hover,
    &:focus {
      background-color: darken($white, 8%);
    }
  }

  &--action-alt {
    background-color: $dark-purple;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($dark-purple, 8%);
    }
  }

  &--content {
    background-color: $orange;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($orange, 8%);
    }
  }

  &--search {
    background-color: $mid-green;
    border-radius: 50%;
    padding: 10px 14px;
    color: $white;
    background:url(../../img/search-icon.png);
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    border: 0;

    &:hover,
    &:focus {
      background-color: darken($mid-green, 8%);
    }
  }

  &--small {
    font-size: 16px;
    height: 32px;
    padding-top: 6px;
  }

  &--thinner {
    padding-top: 0;
    padding-bottom: 0;
    height: 24px; //fix for button tags
  }

  &--thin {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  &--narrow {
    padding-left: ($col / 2);
    padding-right: ($col / 2);
  }

  &--wide {
    padding-left: ($col * 2);
    padding-right: ($col * 2);
  }

  &--full-width {

    display: block;
    width: 100%;
  }

  &--block {
    display: block;
  }

  &--simple {
    padding: 10px 0 6px 0;
    color: $mid-blue;
    background-color: transparent;
    text-align: left;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

  }

}

.btn-group {
  overflow: auto;

  .btn {
    float: left;
    margin: 0;
    border-right: 1px solid $mid-grey;

    &:last-child {
      border: none;
    }

  }

  legend {
    padding: 6px 0 10px 0;
  }

  input {
    height: 0px;
    width: 0px;
    position: absolute;
    left: -100px;
  }

  &--active {
    legend {
      text-decoration: underline;
    }
  }
}
